<form action="reset_password" method="POST">
    <div>
        <p>{{message}}</p>
        <input name="username" type="hidden" value="{{username}}"/>
        <input name="code" type="hidden" value="{{code}}"/>
        <p>New Password:</p>
        <input type="password" name="password1" value="{{password1}}"/>
        <p>Confirm Password:</p>
        <input type="password" name="password2" value="{{password2}}"/>
    </div>
    <br />
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
